body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #011e29;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

.header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header nav ul li {
    display: inline;
    margin: 0 15px;
}

.header nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

.latest-news-section {
    background-color: #ffffff;
    padding: 20px;
    width: 80%;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.latest-news-section h2 {
    text-align: center;
}

.latest-news-section ul {
    list-style: none;
    padding: 0;
}

.latest-news-section li {
    margin-bottom: 20px;
}

.latest-news-section li h3 {
    margin: 0;
}

.latest-news-section li p {
    margin: 5px 0 15px;
}

.pictorial-news-section {
    background-color: #ffffff;
    padding: 20px;
    width: 80%;
    margin: 20px auto;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.pictorial-news-section h2 {
    margin-bottom: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image-container img {
    width: 30%;
    margin: 10px;
    border-radius: 5px;
}